@using BulkyBook.Models.ViewModels;

@model ProductVM


<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h3 class="card-title text-center">@(Model.Product.Id!=0?"Update":"Create")Book</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <!-- Validation Summary -->
                <div asp-validation-summary="All" class="alert alert-danger"></div>
                <input asp-for="@Model.Product.Id" hidden />
                <div class="row">
                    <!-- Title -->
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.Product.Title" class="form-label font-weight-bold">Title</label>
                        <input asp-for="@Model.Product.Title" class="form-control" required />
                        <span class="text-danger small" asp-validation-for="@Model.Product.Title"></span>
                    </div>

                    <!-- ISBN -->
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.Product.ISBN" class="form-label font-weight-bold">ISBN</label>
                        <input asp-for="@Model.Product.ISBN" class="form-control" required />
                        <span class="text-danger small" asp-validation-for="@Model.Product.ISBN"></span>
                    </div>

                    <!-- Author -->
                    <div class="col-md-6 mb-3">
                        <label asp-for="@Model.Product.Author" class="form-label font-weight-bold">Author</label>
                        <input asp-for="@Model.Product.Author" class="form-control" required />
                        <span class="text-danger small" asp-validation-for="@Model.Product.Author"></span>
                    </div>

                    <!-- Description -->
                  


                </div>
                <div class="row">
                    <!-- Description -->

                    <div class="w-100 mb-3">
                        <label asp-for="@Model.Product.Description" class="form-label font-weight-bold">Description</label>

                        <textarea asp-for="@Model.Product.Description" class="form-control" required></textarea>
                        <span class="text-danger small" asp-validation-for="@Model.Product.Description"></span>
                    </div>


                </div>
              

                <div class="row">

                    <div class="col-md-5 mb-3">
                        <label asp-for="@Model.Product.ImageUrl" class="form-label font-weight-bold">ImgUrl</label>
                        <input asp-for="@Model.Product.ImageUrl" type="file" name="file" class="form-control" required />
                        <span class="text-danger small" asp-validation-for="@Model.Product.ImageUrl"></span>
                    </div>
                    <div class="col-md-2">
                        <img src="@Model.Product.ImageUrl"  height="300" width="300"/>
                    </div>
                </div>

                <div class="row">
                    <!-- List Price -->
                    <div class="col-md-3 mb-3">
                        <label asp-for="@Model.Product.ListPrice" class="form-label font-weight-bold">List Price</label>
                        <input asp-for="@Model.Product.ListPrice" class="form-control" required />
                        <span class="text-danger small" asp-validation-for="@Model.Product.ListPrice"></span>
                    </div>

                    <!-- Regular Price -->
                    <div class="col-md-3 mb-3">
                        <label asp-for="@Model.Product.Price" class="form-label font-weight-bold">Regular Price</label>
                        <input asp-for="@Model.Product.Price" class="form-control" required />
                        <span class="text-danger small" asp-validation-for="@Model.Product.Price"></span>
                    </div>

                    <!-- Price for 50+ -->
                    <div class="col-md-3 mb-3">
                        <label asp-for="@Model.Product.Price50" class="form-label font-weight-bold">Price (50+)</label>
                        <input asp-for="@Model.Product.Price50" class="form-control" required />
                        <span class="text-danger small" asp-validation-for="@Model.Product.Price50"></span>
                    </div>

                    <!-- Price for 100+ -->
                    <div class="col-md-3 mb-3">
                        <label asp-for="@Model.Product.Price100" class="form-label font-weight-bold">Price (100+)</label>
                        <input asp-for="@Model.Product.Price100" class="form-control" required />
                        <span class="text-danger small" asp-validation-for="@Model.Product.Price100"></span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label asp-for="@Model.Product.CategoryId" class="form-label font-weight-bold">Category</label>
                        <select asp-for="@Model.Product.CategoryId" class="form-control form-select" asp-items="@Model.CategoryList" required>
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span class="text-danger small" asp-validation-for="@Model.Product.CategoryId"></span>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="text-center mt-4">
                    @* @(if (Model.Product.Id != 0 || Model.Product.Id != null) ){

                    }; *@

                    @if (@Model.Product.Id != 0 || @Model.Product.Id != null)
                    {
                        <button type="submit" class="btn btn-success px-4">
                            <i class="bi bi-plus-circle"></i> Create Book
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success px-4">
                            <i class="bi bi-plus-circle"></i> Update Book
                        </button>
                    }


                  
                    <a asp-action="Index" asp-controller="Product" class="btn btn-secondary px-4 ms-2">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Jan 21, 2025:
            'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
          ],
          toolbar: 'blocks fontfamily fontsize | bold italic underline strikethrough  | spellcheckdialog | align lineheight | checklist numlist bullist indent outdent ',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
